.about-fluid {
  margin-left: 17%;
}

.about__item {
  margin-bottom: 30px;
  margin-left: 3%;
  margin-right: 3%;
}

.bg-danger {
  background-color: #ee3b24 !important;
}

// .btn-outline-danger {
//   color: #ee3b24;
//   border-color: #ee3b24 !important;
// }

// .btn-outline-danger:hover,
// .btn-outline-danger:focus {
//   background-color: #ee3b24;
// }