html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  overflow: scroll;
  overflow-x: hidden;

  background-color: lightgray;

  font-family: "Roboto", sans-serif;
}

section {
  overflow: hidden;

  width: 100%;
}

h5 {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #010101;

  font-family: "Roboto Slab", serif;
}

a {
  color: #010101;
}

.about,
.features,
.gallery,
.blog,
.contacts {
  display: flex;
  align-content: center;
  flex-wrap: wrap;

  min-height: 100vh;
}

.about__title,
.features__title,
.gallery__title,
.blog__title,
.contacts__title {
  margin-top: 20px;

  text-align: center;
}

.features__description,
.gallery__description,
.blog__description,
.contacts__description {
  text-align: center;
}

button:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;

  color: #ee3b24;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA

@include lg {
  .slider,
  .about-fluid,
  .features-fluid,
  .gallery-fluid,
  .blog-row,
  .contacts-fluid,
  .footer__top,
  .footer__bottom {
    margin: 0;
  }
  .logo {
    visibility: hidden;
  }
  .slider {
    width: 120%;
  }
}

@include lg-min {
  .header-navbar {
    visibility: hidden;
  }
}

@media (max-width: 991.8px) {
  .header-navbar .nav-link::after {
    left: 25%;

    width: 50%;
  }
  .header-navbar .nav-item:not(.active):hover .nav-link::after,
  .header-navbar .nav-item:not(.active):focus .nav-link::after {
    bottom: 4px;
  }
  .header-navbar--scrolled .active .nav-link::after {
    bottom: 4px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
  }
  .header-navbar {
    background-color: rgba(1, 1, 1, 0.85);
  }
  .advantages__image {
    display: none;
  }
}

@media (min-width: 576px) {
  .gallery .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
  .gallery-item {
    padding: 0 5px 10px;
  }
}

@media (min-width: 768px) {
  .features__description,
  .gallery__description,
  .blog__description,
  .contacts__description {
    margin-bottom: 45px;
  }
  .blog-item__excerpt {
    margin: 15px 0 0;
  }
}

@media (min-width: 992px) {
  .about,
  .features,
  .gallery,
  .blog,
  .contacts {
    padding-top: 105px;
    padding-bottom: 90px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .contacts__title {
    margin: 0 0 45px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .about,
  .features,
  .gallery,
  .blog,
  .contacts {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .contacts__title {
    margin: 0 0 37.5px;
  }
}

@media (max-width: 767.8px) {
  .features__description,
  .gallery__description,
  .blog__description,
  .contacts__description {
    margin-bottom: 30px;
  }
  .feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 68px;
    height: 76.5px;
    margin: 25.5px auto 51px;

    color: #ffffff;
    background: #ee3b24;

    font-size: 1.5rem;

    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .blog-item__image img {
    margin-top: -10%;
    margin-bottom: -35%;
  }
  .blog-item__excerpt {
    margin: 15px 0 30px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .about,
  .features,
  .gallery,
  .blog,
  .contacts {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .contacts__title {
    margin: 0 0 30px;
  }
}

@media (max-width: 575.8px) {
  .about,
  .features,
  .gallery,
  .blog,
  .contacts {
    padding-top: 90px;
    padding-bottom: 45px;
  }
  .about__title,
  .features__title,
  .gallery__title,
  .blog__title,
  .contacts__title {
    margin: 0 0 22.5px;
  }
  .gallery-item {
    padding: 0 15px 15px;
  }
}
